@import '_common/normalize';

html {
  font-size: $global-font-size;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $global-font-family;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $global-lineheight;
  color: $global-font-color;
  background: $global-background;
  scroll-behavior: smooth;
  border-top: 3px solid $theme-color;
}

@include max-screen() {
  body {
    border-top: 0;
  }
}

::selection {
  background: $theme-color;
  color: #fff; 
}

// ::-webkit-scrollbar {
//   width: 8px;
//   height: 6px; 
// }

// ::-webkit-scrollbar-thumb {
//   background: lighten($theme-color, 10%);
//   border-radius: 5px;
// }

// ::-webkit-scrollbar-track {
//   background: rgba(211, 211, 211, 0.4);
//   border-radius: 5px;
// }

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

a {
  color: $global-font-color;
  text-decoration: none;
}

@each $header, $size in $global-headings {
  #{$header} {
    font-size: $size;
    font-family: $global-serif-font-family;
  }
}

.container {
  margin: 0 auto;
  width: $global-body-width;
}
.article-content {
  width:100%;
}

.content-wrapper {
  display:flex;
  justify-content:space-between;
}
.content {
    flex:1;
}
.home_sidebar {
    width: 240px;
    padding-left: 40px;
}
.home_side_list {

}
.home_side_list_tit{
    font-size: 18px;
    padding-bottom: 8px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
.home_side_list_ul, .home_side_list_ul_tag {
    margin: 0;
    padding: 10px;
    box-shadow: 0 6px 30px -10px rgba(0, 0 ,0, 0.1);
    border-radius: 6px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.03);
}
.home_side_list_ul_tag {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 0;
  box-sizing: inherit;
}
.home_side_list_ul_tag li {
  list-style-type:none;
  flex-shrink: 0;
  clear: both;
  margin-bottom: 18px;
  margin-right: 10px;
}
.home_side_list_ul_tag li a {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: -0.5rem;
}
.home_side_list_ul_tag li a .tag {
  background: #3273dc;
  color: #fff;
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: 14px;
  height: 22px;
  justify-content: center;
  line-height: 1.5;
  padding-left: 6px;
  padding-right: 6px;
  white-space: nowrap;
}
.home_side_list_ul_tag li a .is-grey-lightest {
  background-color: #f5f5f5;
  color: #4a4a4a;
}
.home_side_list_ul li{
    list-style-type:none;
    color:#4a4a4a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.home_side_list_ul a {
    color:#4a4a4a;
  /* color: #3273dc; */
  font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
.home_side_list_ul a:hover {
  color:$theme-color;
}
.home_side_list_ul  span {
  padding: 0 12px;
  border-radius: 11px;
  background: #f5f5f5;
  color:#4a4a4a;
  font-size: 14px;
}
.post-summary {
    color:#403e3e;
}
@include max-screen() {
  .content-wrapper {
    display:block;
    padding: $global-container-padding;
  }
  .container {
    width: 100%;
    box-shadow: -1px -5px 5px $gray;
  }
  .home_sidebar {
    display:none;
  }
}


// make video fluid:
// https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
// class video-container is the wrapper used by hexo youtube tag plugin
.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}














